@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}

header {
  background: url(photo.jpeg) no-repeat center/cover;
  height: 37rem;
  text-decoration: solid;
  font-weight:900;
}

#about, #contact {
  background-color: #f8f9fa;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

